<div class="login-center">
  <h1>Login Page</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label>Email:</label>
      <input type="email" formControlName="email" />
      <div *ngIf="submitted && f['email'].errors" class="error">
        <span *ngIf="f['email'].errors['required']">Email is required.</span>
        <span *ngIf="f['email'].errors['email']">Invalid email format.</span>
      </div>
    </div>
    <div>
      <label>Password:</label>
      <input type="password" formControlName="password" />
      <div *ngIf="submitted && f['password'].errors" class="error">
        <span *ngIf="f['password'].errors['required']">Password is required.</span>
        <span *ngIf="f['password'].errors['minlength']">Password must be at least 6 characters.</span>
      </div>
    </div>
    <button type="submit">Login</button>
  </form>
  <p>
    Don't have an account?
    <a (click)="goToSignup()" style="cursor:pointer; color:blue; text-decoration:underline;">Sign up</a>
  </p>
</div>